<div style="padding: 13px;">
    <h1>SpaceX Mission Details</h1>
    <mat-card  class="bg-pink" *ngIf="mission" style="background-color:coral;">
        <div class="row"  style="color: black;">
            <div class="col-2 text-center">
                <img style="width: 100%;" [src]="mission.links.mission_patch" />
            </div>
            <div class="col-9">
                <mat-card-header>
                    <mat-card-title>Mission: {{mission.mission_name}}</mat-card-title>
                    <mat-card-subtitle>Name: {{mission.mission_name}} </mat-card-subtitle>
                    <mat-card-subtitle>launch Year: {{mission.launch_year}} </mat-card-subtitle>

                    <mat-card-title>Rocket</mat-card-title>
                    <mat-card-subtitle>Name: {{mission.rocket.rocket_name}} </mat-card-subtitle>
                    <mat-card-subtitle>Type: {{mission.rocket.rocket_type}} </mat-card-subtitle>
                    
                    <mat-card-title>Launch Site</mat-card-title>
                    <mat-card-subtitle>Name: {{mission.launch_site.site_name}} </mat-card-subtitle>
                </mat-card-header>
            </div>
        </div>

        <mat-card-content>
            <mat-card-title>Launch Details</mat-card-title>
            <p>
                {{mission.details}}
            </p>
            <mat-card-title>More Info on Details</mat-card-title>
            <a class="icon" href="{{mission.links.article_link}}"><i class="fa fa-file-text-o" aria-hidden="true"></i></a>
            <a class="icon" href="{{mission.links.wikipedia}}"> <i class="fa fa-firefox" aria-hidden="true"></i></a>
            <a class="icon" href="{{mission.links.video_link}}"><i class="fa fa-video-camera" aria-hidden="true"></i></a>
           
        </mat-card-content>
    </mat-card>
</div>

