<div style="padding: 13px;">
    <h1 style="background-color: black; color: white;">SpaceX Mission launch List</h1>
    <mat-card *ngFor="let item of allMissions"  class="bg-blue" [routerLink]="['/detail', item.mission_name]" style="background-color:coral;">
        <div class="row">
            <div class="col-2 text-center">
                <img style="width: 120px;" [src]="item.links.mission_patch_small" />
            </div>
            <div class="col-9">
                <mat-card-header>
                    <mat-card-title style="font-size: x-large;">{{item.mission_name}}</mat-card-title>
                    <mat-card-subtitle>{{item.launch_year}}
                    </mat-card-subtitle>
                </mat-card-header>
            </div>
        </div>

        <mat-card-content>
            <p style="padding-top: 20px; font-size: large;">
                {{item.details}}
            </p>
           
        </mat-card-content>
    </mat-card>
</div>

